
/Hbms.Mes.BLL/obj
/Hbms.Mes.BLL/bin
/Hbms.Mes.Common/obj
/Hbms.Mes.Common/bin
/Hbms.Mes.DAL/obj
/Hbms.Mes.DAL/bin
/Hbms.Mes.DalFactory/obj
/Hbms.Mes.DalFactory/bin
/Hbms.Mes.IBLL/obj
/Hbms.Mes.IBLL/bin
/Hbms.Mes.IDAL/obj
/Hbms.Mes.IDAL/bin
/Hbms.Mes.Model/obj
/Hbms.Mes.Model/bin
/Hbms.Mes.Web/obj
/Hbms.Mes.Web/bin
/RedisDemo/obj
/RedisDemo/bin
/Spring.Net/obj
/Spring.Net/bin
/.vs
